# Project exclude paths
/.gradle/
/Cinema Room REST Service/task/build/
/Cinema Room REST Service/task/out/
/Cinema Room REST Service/task/out/production/classes/
/Topics/ArrayList/Creating list/out/
/Topics/ArrayList/Creating list/out/production/classes/
/Topics/The List interface/Filtering the list/out/
/Topics/The List interface/Filtering the list/out/production/classes/